aiohttp           
async-timeout     
attrs           
certifi          
chardet         
discord          
discord.py        
idna             
multidict         
pip               
requests          
setuptools       
typing-extensions 
urllib3           
yarl              
